N1_ALCHEMY_KEY=""
N2_ALCHEMY_KEY=""

export R_N1_RPC_URL="https://polygon-mumbai.g.alchemy.com/v2/${N1_ALCHEMY_KEY}/"
export R_N1_CHAIN_ID=80001
export R_N2_RPC_URL="https://polygon-mumbai.g.alchemy.com/v2/${N2_ALCHEMY_KEY}/"
export R_N2_CHAIN_ID=80001
export R_N1_GAS_PRICE=5000000
export R_N1_GAS_LIMIT=5000000
export R_N2_GAS_PRICE=5000000
export R_N2_GAS_LIMIT=5000000
export R_DAPP_MNEMONIC=
export R_DAPP_ADDRESS=
export R_AMB_MNEMONIC=
export R_AMB_ADDRESS=
export R_COUNTER_N1=
export R_COUNTER_N2=